<template>
  <div class="row">
   <div class="col-12 col-sm-12 home-header">
   <transition name="fadeDown" mode="out-in">
    <component
    style="animation-duration: 0.3s"
    @toggleSearch="searchBtn"
    @toggleBlock="hideTagsBlock"
    @tags="tagsSearch"
    :is="toggleSearch"></component>
   </transition>
   </div>
   <div class="col-12 q-mt-xl">
     <div class="row q-mt-xl justify-center items-center">
       <div class="col-8 job-block job-block-mobile" v-for="(job, index) in filteredItems" :key="index">
         <div class="row">
           <div id="desktop" class="col-12 q-mt-md col-sm-3 col-md-2 text-center">
            <img :src="job.logo" :alt="job.company">
           </div>
            <div id="mobile" class="col-12 q-mt-md col-sm-3 col-md-2 text-center">
            <img id="mobile_logo" :src="job.logo" :alt="job.company">
           </div>
           <div class="col-12 col-sm-4 q-mt-md col-md-5">
             <div class="row">
               <div class="col-12">
                 <span class="company-title">
                   {{job.company}}</span>
                   <q-chip id="new" v-if="job.new" label="new!"/> <q-chip id="featured" v-if="job.featured" label="Featured"/>
               </div>
               <div class="col-12 q-mt-sm">
                 <span class="job-title">
                   {{job.position}}
                 </span>
               </div>
               <div class="col-12 q-mt-sm">
                 <ul id="job-info">
                   <li class="job-item">{{job.postedAt}}</li>
                   <li class="job-item">{{job.contract}}</li>
                   <li class="job-item">{{job.location}}</li>
                 </ul>
               </div>
             </div>
           </div>
           <div id="mobile_line">
             <hr>
           </div>
           <div class="col-12 col-sm-4 col-md-5">
             <q-chip square class="languages-item" v-for="(language, index) in job.languages" :key="index">
                 {{language}}
               </q-chip>
           </div>
         </div>
       </div>
     </div>
   </div>
  </div>
</template>

<script>
import TagsInput from '@/components/TagsInput'
import SearchButton from '@/components/SearchButton'
import { challengeData } from '@/assets/challenge/data'

export default {
  name: 'Home',
  components: {
    'app-tags': TagsInput,
    'app-search': SearchButton
  },
  data: () => ({
    showTagBlock: false,
    toggleSearch: 'app-search',
    jobsData: challengeData,
    searchTags: ''
  }),
  computed: {
    filteredItems() {
      if (!this.searchTags) {
        return this.jobsData
      }
      return this.jobsData.filter((item) => {
        var tags = item.languages
        if (tags) {
          for (var i = 0; i < tags.length; i++) {
            if (tags[i].toLowerCase().includes(this.searchTags.toLowerCase())) {
              return true;
            }
          }
        }
      })
    },
  },
  methods: {
    toggleTagsBlock() {
      this.showTagBlock = !this.showTagBlock;
    },
    hideTagsBlock() {
      this.toggleSearch = 'app-search'
    },
    searchBtn() {
      this.toggleSearch = 'app-tags'
    },
    tagsSearch($event) {
      let item;
      $event.filter(filteredItem => {
        item = filteredItem.text
      })
      this.searchTags = item;
    }
  }
}
</script>
