<template>
    <div class="row q-mt-xl justify-center items-center">
        <div class="col-8 text-right q-mt-xl">
            <q-btn @click="toggleSearchButton" round icon="mdi-magnify" unelevated id="searchBtn" />
        </div>
    </div>
</template>

<script>
export default {
    name: 'SearchButton',
    data: () => ({
        showTagBlock: false
    }),
    methods: {
        toggleSearchButton() {
            this.$emit('toggleSearch')
        }
    }
}
</script>