<template>
    <div class="row q-mt-xl justify-center items-center">
        <div class="col-8 q-mt-xl">
            <div class="q-mt-sm">
               <form id="tagsblock">
                    <vue-tags-input @tags-changed="getTags($event)" placeholder="Add tags" v-model="tag" :tags="tags" :allow-edit-tags="true" class="tags-input">
                </vue-tags-input>
                <button @click="toggleTagsBlock" id="clearBtn" unelevated>Clear</button>
               </form>
            </div>
        </div>
    </div>
</template>

<script>
import VueTagsInput from '@johmun/vue-tags-input';

export default {
    name: 'TagsInput',
    components: {
        VueTagsInput,
    },
    data: () => ({
        showTagBlock: false,
        tag: '',
        tags: []
    }),
    methods: {
        toggleTagsBlock() {
            this.$emit('toggleBlock')
        },
        getTags($event) {
           this.$emit('tags', $event)
        },
    }
}
</script>