@import url('https://fonts.googleapis.com/css?family=Spartan:500,700&display=swap');

body {
  background-color: hsl(180, 31%, 95%);
}

*:focus {
  outline: unset;
}

.home-header {
  background: url('./challenge/images/bg-header-desktop.svg') hsl(180, 29%, 50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 140px !important;
  position: relative;
}

#tagsblock {
  justify-content: center;
  display: flex;
  width: 100%;
  position: relative;
}

#clearBtn {
  position: absolute;
  right: 15px;
  top: 22px;
  background: transparent;
  border: none;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  cursor: pointer;
  color: hsl(180, 29%, 50%);
}

#clearBtn:hover {
  background-color: none !important;
}

#searchBtn {
  color: white;
}

ul.ti-tags {
  margin-top: 2px;
}

.vue-tags-input {
  width: 100% !important;
  max-width: unset !important;
  border-radius: 5px !important;
  -webkit-box-shadow: 3px 10px 20px -4px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 3px 10px 20px -4px rgba(0, 0, 0, 0.17);
  box-shadow: 3px 10px 20px -4px rgba(0, 0, 0, 0.17);
}

/* main input */
.vue-tags-input .ti-input {
  padding: 15px 10px !important;
  transition: border-bottom 200ms ease !important;
  font-family: 'Spartan', sans-serif !important;
  font-weight: 500 !important;
  height: auto !important;
  border: none !important;
}

/* we cange the border color if the user focuses the input */
.vue-tags-input.ti-focus .ti-input {
  border: none !important;
}

/* default style for one tag */
.my-item {
  color: white !important;
  font-family: 'Spartan', sans-serif !important;
}

/* style the placeholders color across all browser */
.vue-tags-input ::-webkit-input-placeholder {
  color: #a4b1b6 !important;
  font-weight: 700 !important;
}

.vue-tags-input ::-moz-placeholder {
  color: #a4b1b6 !important;
  font-weight: 700 !important;
}

.vue-tags-input :-ms-input-placeholder {
  color: #a4b1b6 !important;
  font-weight: 700 !important;
}

.vue-tags-input :-moz-placeholder {
  color: #a4b1b6 !important;
  font-weight: 700 !important;
}

/* default styles for all the tags */
.vue-tags-input .ti-tag {
  position: relative !important;
  background: hsl(180, 31%, 95%) !important;
  color: #283944 !important;
  padding: 0 !important;
  height: 28px !important;
}

/* the place where the actual label lives */
.ti-tag .ti-content {
  padding: 5px !important;
  font-family: 'Spartan', sans-serif !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  color: hsl(180, 29%, 50%) !important;
}

/* delete tag button */
.ti-tag .ti-actions {
  margin-left: 2px !important;
  background-color: hsl(180, 29%, 50%) !important;
  color: white !important;
  height: 100% !important;
  width: 25px !important;
  justify-content: center !important;
}

.ti-tag .ti-actions:hover {
  background: black !important;
}


/* if a tag or the user input is a duplicate, it should be crossed out */
.vue-tags-input .ti-duplicate span,
.vue-tags-input .ti-new-tag-input.ti-duplicate {
  text-decoration: line-through;
}

/* if the user presses backspace, the complete tag should be crossed out, to mark it for deletion */
.vue-tags-input .ti-tag:after {
  transition: transform .2s !important;
  position: absolute !important;
  content: '';
  height: 2px !important;
  width: 108% !important;
  left: -4% !important;
  top: calc(50% - 1px) !important;
  background-color: #000 !important;
  transform: scaleX(0) !important;
}

.vue-tags-input .ti-deletion-mark:after {
  transform: scaleX(1) !important;
}

.company-title {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  color: hsl(180, 29%, 50%);
}

#new {
  background-color: hsl(180, 29%, 50%);
  color: white;
  font-family: 'Spartan', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

#new .q-chip__content {
  margin-top: 3px;
}

#featured {
  background-color: hsl(180, 14%, 20%);
  color: white;
  font-family: 'Spartan', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

#featured .q-chip__content {
  margin-top: 2px;
}

.job-title {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  color: hsl(180, 29%, 50%);
  font-weight: 700;
}

.job-title:hover {
  color: hsl(180, 14%, 20%);
}

#job-info {
  list-style: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  // position: relative;
}

#job-info li {
  display: inline-block;
  font-family: 'Spartan', sans-serif;
  color: hsl(180, 8%, 52%);
}

#job-info li.job-item {
  margin-right: 22px;
  position: relative;
}

#job-info li:nth-child(2):before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: hsl(180, 8%, 52%);
  position: absolute;
  top: 8px;
  left: -12px;
  border-radius: 50%;
}

#job-info li:nth-child(2):after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: hsl(180, 8%, 52%);
  position: absolute;
  top: 8px;
  left: 75.5px;
  border-radius: 50%;
}

.job-block:nth-child(1) {
  margin-top: 0px;
}

.job-block {
  background-color: white;
  cursor: pointer;
  position: relative;
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 20px;
  color: white;
  -webkit-box-shadow: 3px 10px 20px -4px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 3px 10px 20px -4px rgba(0, 0, 0, 0.10);
  box-shadow: 3px 10px 20px -4px rgba(0, 0, 0, 0.10);
}

.job-block:hover:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: hsl(180, 29%, 50%);
  top: 0;
  left: 0;
}

.job-block:last-child {
  margin-bottom: 20px;
}

.languages-item {
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.languages-item:hover {
  color: hsl(180, 31%, 95%);
  background-color: hsl(180, 29%, 50%);
}

.languages-item .q-chip__content {
  margin-top: 2px;
}

#mobile {
  display: none;
}

#mobile_line {
  display: none;
}

@media (max-width: 768px) {
  #desktop {
    display: none;
  }

  #mobile {
    display: block;
  }
}

@media (max-width: 425px) {
  #mobile_line {
    display: block;
    width: 100%;
    color: #ccc;
  }
  #mobile {
    position: relative;
  }
  #mobile_logo {
    position: absolute;
    left: 10px;
    top: -55px;
    width: 30%;
  }

  .job-block-mobile:nth-child(1) {
    margin-top: 0px !important;
  }

  .job-block-mobile {
    margin-top: 40px !important;
    padding-left: 15px;
  }
}